<div class="container-fluid" *ngIf="!selectedProduct">
  <div>
    <table class="table table-striped table-hover">
      <thead class="thead thead-dark">
        <tr>
          <th>
           Products
          </th>
          <th>
            Popularity Rank
          </th>
          <th>
            Gravity
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products" (click)="selectedProduct = product">
          <td>
            {{ product.title }}
          </td>
          <td>
            {{ product.popularityRank }}
          </td>
          <td>
            {{ product.gravity }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf="selectedProduct">
  <div>
    <table class="table table-striped table-hover">
      <thead class="thead thead-dark">
        <tr>
          <th>
           Initial Earnings Per Sale
          </th>
          <th>
            Popularity Rank
          </th>
          <th>
            Gravity
          </th>
          <th>
            % Per Sale
          </th>
          <th>
            % Per Rebill
          </th>
          <th>
            Average Earnings
          </th>
          <th>
           Total Rebill
          </th>
          <th>
           Referred
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            {{selectedProduct.initialEarningsPerSale}}
          </td>
          <td>
            {{ selectedProduct.popularityRank }}
          </td>
          <td>
            {{ selectedProduct.gravity }}
          </td>
          <td>
            {{selectedProduct.percentPerSale}}
          </td>
          <td>
            {{selectedProduct.percentPerRebill}}
          </td>
          <td>
            {{selectedProduct.avgEarningsPerSale}}
          </td>
          <td>
            {{selectedProduct.totalRebillAmt}}
          </td>
          <td>
            {{selectedProduct.referred}}
          </td>
        </tr>
      </tbody>
    </table>
    <div class="jumbotron">
      <h2 class="display-3"> {{ selectedProduct.title }}</h2>
      <p class="lead"> {{selectedProduct.description}}</p>
      <hr class="my-2">
      <p>
        Commission: {{selectedProduct.commission}}<br>
        Active Date: {{selectedProduct.activeDate}}
      </p>
      <p class="lead">
        <button class="btn btn-primary" (click)="selectedProduct = null">Back</button>
        <button class="btn btn-success" (click)="notes = true">Add Product Notes</button>
      </p>
    </div>


  </div>



</div>
